@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

* {
    font-family: 'Open sans';
    color: #FFF;
}

body {
    background: black;
    margin: 0;
}

.tabela1 {
    background: blue;
}

.tabela2 {
    background: steelblue;
}

.text {
    color: #fff;
    font-weight: 600;
    font-size: 15px;
}

.text2 {
    color: #fff;
    font-weight: 600;
    font-size: 15px;
}

.tabela-lista {
    padding-bottom: 20px;
    display: flex;

}

.tabela {
    display: flex;
    justify-content: flex-start;
    width: 50%;
    /* background: red; */
    border: 0.5px solid black;
}

.protocolos {
    /* background: blue; */
    display: flex;
    justify-content: center;
    width: 50%;
    border: 0.5px solid black;

}

.testeflex {
    margin-top: 280px;
    padding-top: 20px;
    padding-bottom: 30px;
    height: auto;
    display: flex;
    color: #FFF;
}

.conteudo1 {
    background: blue;
    width: 33.33%;
    text-align: center;
}

.conteudo1 > header {
    padding-top: 10px;
}

.conteudo1 > p {
    padding: 60px;
}

.conteudo2 {
    background: rgb(86, 112, 231);
    width: 33.33%;
    text-align: center;
}

.conteudo2 > header {
    padding-top: 35px;
}

.conteudo2 > p {
    padding: 60px;
}

.conteudo3 {
    background: rgb(19, 62, 141);
    width: 33.33%;
    text-align: center;
}

.conteudo3 > header {
    padding-top: 35px;
}

.conteudo3 > p {
    padding: 60px;
}

.topo {
    justify-content: center;
    display: flex;
    width: 100%;
    background: blue;
    text-align: center;
    color: #FFF;
}

.tag {
    display: flex;
    font-size: 35pt;
}

.divNav {

    padding-top: 10px;
}

.menu {
    padding-left: 12px;
    padding-right: 12px;
    justify-content: flex-end;
    display: flex;
    /* border: 1px solid black; */
    /* background: #70587C */
}

.inicio {
    cursor: pointer;
    text-decoration: none;
    color: black;
    transition: .3s;
    padding: 0 30px 0 30px;
    /* background: #70587C; */
    border-radius: 20px;
    margin: 5px;
}

.inicio:hover {
    background: #502F4C;
    transition: .3s;
    color: #FFF;
}


.joguitodigital{
    cursor: pointer;
    text-decoration: none;
    color: black;
    padding: 0 30px 0 30px;
    transition: .3s;
    /* background: #70587C; */
    border-radius: 20px;
    margin: 5px;
}

.joguitodigital:hover {
    background: #502F4C;
    transition: .3s;
    color: #FFF;
}

.vantagens {
    cursor: pointer;
    text-decoration: none;
    color: black;
    padding: 0 30px 0 30px;
    transition: .3s;
    /* background: #70587C; */
    border-radius: 20px;
    margin: 5px;
}

.vantagens:hover {
    cursor: pointer;
    text-decoration: none;
    background-color: #502F4C;
    padding: 0 30px 0 30px;
    transition: .3s;
    /* background: #70587C; */
    border-radius: 20px;
    margin: 5px;
}

.sobre {
    cursor: pointer;
    text-decoration: none;
    color: black;
    padding: 0 30px 0 30px;
    transition: .3s;
    /* background: #70587C; */
    border-radius: 20px;
    margin: 5px;
}

.sobre:hover {
    background: #502F4C;
    transition: .3s;
    color: #FFF;
}

.rodape {
    cursor: pointer;
    text-decoration: none;
    color: black;
    padding: 0 30px 0 30px;
    transition: .3s;
    /* background: #70587C; */
    border-radius: 20px;
    margin: 5px;
}

.rodape:hover {
    background: #502F4C;
    transition: .3s;
    color: #FFF;
}

.contato {
    cursor: pointer;
    text-decoration: none;
    color: black;
    padding: 0 30px 0 30px;
    transition: .3s;
    /* background: #70587C; */
    border-radius: 20px;
    margin: 5px;
}

.contato:hover {
    background: #502F4C;
    transition: .3s;
    color: #FFF;
}

.cardJogos {
    height: auto;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.conteudoRodape {
    margin-top: 70px;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.card1, .card2, .card3 {
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    width: 16%;
    transition: .3s;
}

.card1 {
    background: #092b5a;
    margin-left: 10%;
    color: #FFF;
}

.card1:hover {
    transform: scale(1.5);
    transition: .3s;
}

.img1 {
    background-image: url('/src/image/angrybirds.webp');
    height: 320px;
    width: 400px;
    position: absolute;
    bottom: -90px;
    left: -5px;
    background-size: 70% 75%;
    transition: .3s;
}

.img1:hover {
    background-image: url('/src/image/angrybirds-gif.gif');
    height: 370px;
    width: 400px;
    position: absolute;
    bottom: -90px;
    left: -0px;
    background-size: 83% 76%;
    transition: .3s;
}

.card2 {
    background: rgb(101, 159, 218);
    color: #FFF;
}

.card2:hover {
    transform: scale(1.5);
    transition: .3s;
}

.img2 {
    background-image: url('/src/image/tetris-gifd.png');
    height: 320px;
    width: 400px;
    position: absolute;
    bottom: -90px;
    left: -15px;
    background-size: 70% 75%;
    transition: .3s;
}

.img2:hover {
    background-image: url('/src/image/tetris.gif');
    height: 370px;
    width: 400px;
    position: absolute;
    bottom: -90px;
    left: -0px;
    background-size: 83% 76%;
    transition: .3s;
}

.card3 {
    margin-right: 10%;
    color: #FFF;
    height: 220px;
}

.card3:hover {
    transform: scale(1.5);
    transition: .3s;
}

.img3 {
    background-image: url('/src/image/minecraftIMG.webp');
    height: 370px;
    width: 400px;
    position: absolute;
    bottom: -90px;
    left: -30%;
    background-size: cover;
    transition: .3s;
}

.img3:hover {
    transition: .3s;
    background-image: url('/src/image/minecraft-gameplay.gif');
    height: 370px;
    width: 400px;
    position: absolute;
    bottom: -90px;
    left: -80px;
    background-size: 90% 78%;
}

.titulo {
    text-align: center;
}

.cont1 {
    background: #092b5a;
    background: #70587C;
    background: #502F4C;
    width: 100%;
    color: #FFF;
    text-align: center;
}

.cont1 ul li {
    list-style: none;
}

.sobreJogosDigitais {
    padding: 5px;
}

.infoCont {
    font-weight: bold;
    text-align: center;
    margin-left: 2.5%;
}

.cursor {
    cursor: pointer;
}

.direitos {
    background: #092b5a;
    background: #70587C;
    background: #502F4C;
    display: flex;
    justify-content: center;
    position: relative;
}

.voltar {
    height: 35px;
    width: 50px;
    position: absolute;
    right: 10px;
    top: 0;
}

.btn-voltar {
    position: relative;
}

.traco1 {
    background: white;
    height: 20px;
    width: 5px;
    transform: rotate(45deg);
    left: 15px;
    bottom: -10px;
    position: absolute;
}

.traco2 {
    background: white;
    height: 20px;
    width: 5px;
    transform: rotate(-47deg);
    left: 27px;
    bottom: -10px;
    position: absolute;
}

.critica {
    text-align: center;
    text-decoration: none;
}

.lista-vantagens {
    list-style: none;
    height: 160px;
    width: 100%;
}

.subtitulo-vantagens {
    font-size: 35px;
}

.bola {
    font-size: 20px;
    background-color: #70587C;
    border-radius: 800px;
    height: 70px;
    padding: 13px;
}

.bola1 {
    font-size: 21px;
}

.texto-lista {
    font-size: 25px;
    margin-left: 20px;
    margin-bottom: 20px;
    font-style: italic;
}
