@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

* {
    font-family: 'Open sans';
    /* color: #242038; */
    box-sizing: border-box;
    

}

body {
    background: black;
    margin: 0;
    overflow-x: hidden;
    background-image: url('/src/image/backgroundMario2.jpg');
    padding-right: 1px;
}

.tabela-lista {
    padding-bottom: 20px;
    display: flex;

}

.testeflex {
    margin-top: 280px;
    padding-top: 20px;
    padding-bottom: 30px;
    height: auto;
    display: flex;
    color: #FFF;
}

.conteudo1 {
    background: #502F4C;
    width: 33.33%;
    text-align: center;
}

.conteudo1 > header {
    padding-top: 10px;
}

.conteudo1 > p {
    padding: 60px;
}

.conteudo2 {
    background: #723c6c;
    width: 33.33%;
    text-align: center;
}

.conteudo2 > header {
    padding-top: 35px;
}

.conteudo2 > p {
    padding: 60px;
}

.conteudo3 {
    background: #502F4C;
    width: 33.33%;
    text-align: center;
}

.conteudo3 > header {
    padding-top: 35px;
}

.conteudo3 > p {
    padding: 60px;
}


.divNav {
    padding-top: 10px;
}

.menu {
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
    justify-content: flex-end;
    display: flex;
    /* border: 1px solid black; */
    /* background: #70587C */
}

.inicio, .joguitodigital, .vantagens, .sobre, .rodape, .contato {
    cursor: pointer;
    text-decoration: none;
    color: black;
    transition: .3s;
    padding: 0 30px 0 30px;
    /* background: #70587C; */
    border-radius: 20px;
    margin: 5px;
}

.inicio:hover {
    background: #502F4C;
    transition: .3s;
    color: #FFF;
}

.joguitodigital:hover {
    background: #502F4C;
    transition: .3s;
    color: #FFF;
}

.vantagens:hover {
    cursor: pointer;
    text-decoration: none;
    background-color: #502F4C;
    padding: 0 30px 0 30px;
    transition: .3s;
    /* background: #70587C; */
    border-radius: 20px;
    margin: 5px;
    color: #fff;
}


.sobre:hover {
    background: #502F4C;
    transition: .3s;
    color: #FFF;
}

.rodape:hover {
    background: #502F4C;
    transition: .3s;
    color: #FFF;
}

.contato:hover {
    background: #502F4C;
    transition: .3s;
    color: #FFF;
}

.cardJogos {
    height: auto;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.conteudoRodape {
    color: #242038;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.card1, .card2, .card3 {
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    width: 16%;
    transition: .3s;
}

.card1 {
    background: #092b5a;
    margin-left: 10%;
    color: #FFF;
}

.card1:hover {
    transform: scale(1.5);
    transition: .3s;
}

.img1 {
    background-image: url('/src/image/angrybirds.webp');
    height: 320px;
    width: 400px;
    position: absolute;
    bottom: -90px;
    left: -5px;
    background-size: 70% 75%;
    transition: .3s;
}

.img1:hover {
    background-image: url('/src/image/angrybirds-gif.gif');
    height: 370px;
    width: 400px;
    position: absolute;
    bottom: -90px;
    left: -0px;
    background-size: 83% 76%;
    transition: .3s;
}

.card2 {
    background: rgb(101, 159, 218);
    color: #FFF;
}

.card2:hover {
    transform: scale(1.5);
    transition: .3s;
}

.img2 {
    background-image: url('/src/image/tetris-gifd.png');
    height: 320px;
    width: 400px;
    position: absolute;
    bottom: -90px;
    left: -15px;
    background-size: 70% 75%;
    transition: .3s;
}

.img2:hover {
    background-image: url('/src/image/tetris.gif');
    height: 370px;
    width: 400px;
    position: absolute;
    bottom: -90px;
    left: -0px;
    background-size: 83% 76%;
    transition: .3s;
}

.card3 {
    margin-right: 10%;
    color: #FFF;
    height: 220px;
}

.card3:hover {
    transform: scale(1.5);
    transition: .3s;
}

.img3 {
    background-image: url('/src/image/minecraftIMG.webp');
    height: 370px;
    width: 400px;
    position: absolute;
    bottom: -90px;
    left: -30%;
    background-size: cover;
    transition: .3s;
}

.img3:hover {
    transition: .3s;
    background-image: url('/src/image/minecraft-gameplay.gif');
    height: 370px;
    width: 400px;
    position: absolute;
    bottom: -90px;
    left: -80px;
    background-size: 90% 78%;
}

.titulo {
    text-align: center;
}

.cont1 {
    background: #092b5a;
    background: #70587C;
    background: #502F4C;
    width: 100%;
    color: #FFF;
    text-align: center;
}

.cont1 ul li {
    list-style: none;
}

.sobreJogosDigitais {
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.infoCont {
    color: #000000;
    font-weight: bold;
    text-align: center;
    margin-left: 2.5%;
    font-size: 20px;
}

.contatoRodape {
    text-decoration: none;
    color: black;
    border-bottom: 2px solid black;
}

.contatoRodape:hover {
    color: #092b5a;
    border-bottom: 2px solid #092b5a;
}

.cursor {
    cursor: pointer;
}

.direitos {
    background: #092b5a;
    background: #70587C;
    background: #502F4C;
    display: flex;
    justify-content: center;
    position: relative;
}

.voltar {
    height: 35px;
    width: 50px;
    position: absolute;
    right: 10px;
    top: 0;
}

.btn-voltar {
    position: relative;
}

.traco1 {
    background: white;
    height: 20px;
    width: 5px;
    transform: rotate(45deg);
    left: 15px;
    bottom: -10px;
    position: absolute;
}

.traco2 {
    background: white;
    height: 20px;
    width: 5px;
    transform: rotate(-47deg);
    left: 27px;
    bottom: -10px;
    position: absolute;
}

.critica {
    text-align: center;
    text-decoration: none;
}

.lista-vantagens {
    list-style: none;
    height: 160px;
    width: 100%;
}

.subtitulo-vantagens {
    font-size: 35px;
}

.bola {
    font-size: 20px;
    background-color: #70587C;
    border-radius: 800px;
    height: 70px;
    padding: 13px;
}

.bola1 {
    font-size: 21px;
}

.texto-lista {
    font-size: 25px;
    margin-left: 20px;
    margin-bottom: 20px;
    font-style: italic;
}

.planoDeFundo-card {
    /* border: 10px solid red; */
    background-color: black;
    background-image: url('/src/image/backgroundcard.jpg');
    background-image: url('/src/image/backgroundmario.jpg');
    margin-top: -30px;
    padding: 120px 0 120px 0;
    background-size: 100% 100%;
}

.btn-voltar {
    margin-bottom: 90%;
}


@media only screen and (max-width: 770px) {
    .inicio, .joguitodigital, .vantagens, .sobre, .rodape, .contato {
        height: 10%;
        width: 15%;
        /* padding: 0 70px 0 30px; */
    }   

}

@media only screen and (max-width: 555px) {
    .subtitulo-vantagens {
        font-size: 25px;
    }

    .lista-vantagens {
        list-style: none;
        height: 160px;
        width: 100%;
        margin-bottom: 13%;
    }


    .testeflex {
        margin-top: 280px;
        padding-top: 20px;
        padding-bottom: 30px;
        height: auto;
        display: flex;
        color: #FFF;
        flex-direction: column;
    }
    
    .conteudo1 {
        background: #502F4C;
        width: 100%;
        text-align: center;
        height: 10%;
    }
    
    
    .conteudo2 {
        background: #723c6c;
        width: 100%;
        text-align: center;

    }
    
    .conteudo3 {
        background: #502F4C;
        width: 100%;
        text-align: center;

    }

    .voltar {
        height: 35px;
        width: 50px;
        position: absolute;
        right: 10px;
        top: -30%;
    }

}


@media only screen and (max-width: 700px) {
    .subtitulo-vantagens {
        font-size: 25px;
    }

    .lista-vantagens {
        list-style: none;
        height: 160px;
        width: 100%;
        margin-bottom: 10%;
    }

}

@media only screen and (max-width: 420px) {
    .subtitulo-vantagens {
        font-size: 25px;
    }

    .lista-vantagens {
        margin-bottom: 50%;
       /* padding: 10px; */
    }

}

@media only screen and (max-width: 400px) {
    .subtitulo-vantagens {
        font-size: 18px;
    }

    .lista-vantagens {
        margin-bottom: 10%;
    }

    .bola {
        font-size: 15px;
    }
    
    .bola1 {
        font-size: 15px;
    }
    
    .texto-lista {
        font-size: 18px;
    }

    .testeflex {

        flex-direction: column;
    }
    
    .conteudo1 {
        background: #502F4C;
        width: 100%;
        text-align: center;
        height: 10%;
    }
    
    
    .conteudo2 {
        background: #723c6c;
        width: 100%;
        text-align: center;

    }
    
    .conteudo3 {
        background: #502F4C;
        width: 100%;
        text-align: center;

    }


}



@media only screen and (max-width: 520px) {
    .inicio, .joguitodigital, .vantagens, .sobre, .rodape, .contato {
        height: 10%;
        width: 2%;
        font-size: 8pt;
        position: relative;
        left: 20px;
        /* padding: 0 70px 0 30px; */
    }   
}

@media only screen and (max-width: 400px) {
 
/* 
    .comeco {
        display: flex;
        justify-content: flex-end;
        overflow-x: hidden;
    } */
}